{% extends "base.html" %}

{% block content %}
<div class="post"></div>
  <article itemscope itemtype="http://schema.org/Article">
    {%- if page.date %}
    <meta itemprop="datePublished" content="{{ page.date | date(format="%Y-%m-%dT%H:%M:%S") }}">
    {% endif -%}
    {%- if page.extra.feature_image %}
    <meta itemprop="image" content="{{ page.extra.feature_image }}">
    {% endif -%}
    <meta itemprop="publisher" content="{{ config.base_url }}">
    <h1 itemprop="name headline" class="post-title">{{ page.title }}</h1>
    {%- if page.date %}
    <p class="post-meta">
      <span class="post-date">
        {%- if page.date %}
        {{ page.date | date(format="%B %d, %Y") }}
        {% endif -%}
      </span>
      {%- if page.authors %}
      <span itemprop="authors" content="{{ page.authors | join(sep=", ") }}">
         — {{ page.authors | join(sep=", ") }}
      </span>
      {% endif -%}
    </p>
    {% endif -%}
    <br>
    {% include "partials/image_modal.html" %}
    {% include "partials/audio_player.html" %}
    <div class="post-content">
      {{ page.content | safe }}
    </div>
  </article>
  {% include "partials/tags.html" %}
  {% include "partials/page_navigation.html" %}
</div>

{% endblock content %}
